BasedOnStyle: LLVM
IndentWidth: 2

Language: Cpp
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Regroup
